---
interface Props {
  headline: string;
  overview: string;
  backgroundclass: string;
  pillicon: string;
  needleicon: string;
  surgeryicon: string;
  headlineMain: string;
  subMain: string;
}

const props = Astro.props;
---

<div class={props.backgroundclass}>

  <!-- Dynamic 1st section video -->
  <script type="module">
    document.addEventListener('DOMContentLoaded', (event) => {
      const urlParams = new URLSearchParams(window.location.search);
      const utmContent = urlParams.get('utm_content');

      if (utmContent === 'lower_back') {
        document.getElementById('vim_player_1').src = "https://player.vimeo.com/video/1098293206";
        document.getElementById('vim_player_1').title = "Begin Backpain Relief Journey";
      }

      if (utmContent === 'sciatica') {
        document.getElementById('vim_player_1').src = "https://player.vimeo.com/video/1065584788";
        // document.getElementById('vim_player_1').title = "Begin Sciatica Relief Journey";
      }

      if (utmContent === 'herniated_disc') {
        document.getElementById('vim_player_1').src = "https://player.vimeo.com/video/1065586083";
        document.getElementById('vim_player_1').title = "Begin Herniated Disc Relief Journey";
      }

      if (utmContent === 'bulging_disc') {
        document.getElementById('vim_player_1').src = "https://player.vimeo.com/video/1065585671";
        document.getElementById('vim_player_1').title = "Begin Bulging Disc Relief Journey";
      }

      if (utmContent === 'piriformis') {
        document.getElementById('vim_player_1').src = "https://player.vimeo.com/video/1065586333";
        document.getElementById('vim_player_1').title = "Begin Piriformis Relief Journey";
      }

      if (utmContent === 'trendelenburg_gait') {
      document.getElementById('vim_player_1').src = "https://player.vimeo.com/video/1113320231";
      document.getElementById('vim_player_1').title = "Begin Trendelenburg Gait Relief Journey";
    }
      
    });
  </script>

  <!-- <h3>WIDGET 1</h3> -->
  <!-- <script>(function (c) {window.intakeq="576ad0e312cd311090a154bb";window.intakeqServiceId="6b5892ce-7cec-411b-ba66-7275eb15c6a3"; var i = c.createElement("script");i.type = "text/javascript";i.async = true;i.src = "https://intakeq.com/js/widget.min.js?1";document.head.appendChild(i);})(document);</script><div id="intakeq" style="max-width:720px; width: 100%;"></div> -->

  <!-- <h3>WIDGET 2</h3> -->
  <!-- <script>(function (c) {window.intakeq="576ad0e312cd311090a154bb"; var i = c.createElement("script");i.type = "text/javascript";i.async = true;i.src = "https://intakeq.com/js/widget.min.js?1";document.head.appendChild(i);})(document);</script><div id="intakeq" style="max-width:720px; width: 100%;"></div> -->
  <!-- <a href="https://RPTclinic.intakeq.com/booking" target="_blank" alt="Make an Online Appointment"><img style="height:45px;width:162px;" height="45" width="162" src="https://intakeq.com/images/booknow.png" ></a> -->
  <!-- <script>(function (c) {window.intakeq="576ad0e312cd311090a154bb";window.intakeqServiceId="6b5892ce-7cec-411b-ba66-7275eb15c6a3"; var i = c.createElement("script");i.type = "text/javascript";i.async = true;i.src = "https://intakeq.com/js/widget.min.js?1";document.head.appendChild(i);})(document);</script><div id="intakeq" style="max-width:720px; width: 100%;"></div> -->
  <!-- https://RPTclinic.intakeq.com/booking?serviceId=6b5892ce-7cec-411b-ba66-7275eb15c6a3 -->
  

    <!-- <div class="flex justify-around mb-6">
      <img src={props.pillicon} class="w-30 h-11" alt="No pills necessary for treatment"/>
      <img src={props.needleicon} class="w-30 h-11" alt="No needles or injections necessary for treatment"/>
      <img src={props.surgeryicon} class="w-30 h-11" alt="No surgery necessary for treatment"/>
    </div> -->

    <p class="md:block section-headline text-2xl font-bold text-blue-950 mb-6">{props.headlineMain}</p>
    <p id="dynamic-subMain" class="md:block section-headline text-lg mb-6">{props.subMain}</p>

    <p class="px-4 mb-8" set:html={props.overview}></p>

    <div class="max-w-3xl mx-auto mb-4">
      <iframe src="https://player.vimeo.com/video/1065584788" title="Begin Sciatica Pain Relief Journey" id="vim_player_1" class="w-full aspect-video border border-neutral-500" allowfullscreen></iframe>
    </div>
  </div>
</div>


